
.main {
    height: 500px;
    width: 500px;
    margin: 20px;
}
.container {
    height: 200px;
    width: 100px;
    border: 1px solid black;

}
.box {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    box-sizing: border-box;

}
.box1 {
    height: 30px;
    width: 30px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
}
.box2 {
    height: 30px;
    width: 30px;
    margin: 20px;
    border: 1px solid black;
    display: inline-block;
    background-image: url("https://th.bing.com/th/id/OIP.XBu7ZMhTvb-bVkCEwSQDlgHaFs?pid=ImgDet&rs=1");
    background-size: cover;
    background-position: center;
}


.flex1 {
    flex: 1;
}
button {
    margin: 20px;
    width: 150px;
}

img {
    height: 30px;
    width: 30px;
    box-sizing: border-box;
}
.red {
    background-color: red;
}
.aqua {
    background-color: aqua;
}

.violet {
    background-color: #ef7ec5;
}
.d-Flex {
    display: flex;
}
.f-wrap {
    flex-wrap: wrap;
}
.v-bottom {
    vertical-align: bottom;
}
.a-center {
    align-items: center;
}
.a-end {
    align-items: end;
}
.j-around {
    justify-content: space-around;
}
.t-center {
    text-align: center;
}
.a-evenly {
    align-content: space-evenly;
}

.f-column {
    flex-direction: column;
}
.d-block {
    display: block;
}
.border {
    border: 1px solid black ;
}
.m20 {
    margin: 20px;
}


